{{ define "twittermeta"}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Koper_Gravure">
<meta name="twitter:title" content="{{ .Title }}">
{{ with .Description }}<meta name="twitter:description" content="{{ . }}">{{ end }}
{{ with .Params.imagemedium }}<meta name="twitter:image" content="{{ $.Site.BaseURL }}{{ . }}">{{ end }}
{{ end }}

{{ define "main" }}  
      <h2>{{ .Title }}</h2>
    <div class="ui stackable two column grid">
      <div class="column">
        <a href="{{ $.Site.BaseURL }}{{ .Params.imagefull }}" target="_blank">
    <img src="{{ $.Site.BaseURL }}{{ .Params.imagemedium }}" class="ui left floated image rounded popups" data-position="right center" data-variation="inverted large" data-content="Vollbild in neuem Fenster/Tab öffnen">
        </a>
       <div class="ui clearing divider"></div> 
      {{ partial "artworkmeta.html" . }}
        <div class="ui divider"></div>
        {{ .Content }}
        
      </div>
      <div class="column">
      {{ partial "areas.html" . }}
      {{ partial "linkedposts.html" . }}
      </div>
      
    </div>
    <div class="ui divider"></div>
    <div class="ui segment">
    {{ partial "share.html" . }}
    </div>
    <div class="ui segment">
    {{ template "_internal/disqus.html" . }}
    </div>
  {{ end }}
                
