{{ define "twittermeta" }}
{{ partial "twittermeta.html" . }}
{{ end }}
{{ define "main" }}  
      <h2>{{ .Title }}</h2>
    <div class="ui stackable two column grid">
      <div class="column">
        <div class="ui stackable two column grid">
          <div class="column">
            
            <div class="ui image fluid rounded">
              {{ with .Params.imagemedium }}
            <img src="{{ $.Site.BaseURL }}{{ . }}" class="">
            {{ end }}
            {{ .Params.imagesource.Attribution | safeHTML }}
            </div>
            
          </div>
          <div class="column">
            {{ partial "artistmeta.html" . }}
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="column">
      {{ partial "linkedposts.html" . }}
      {{ partial "artistpictures.html" . }}
      </div>
      
    </div>
    <div class="ui divider"></div>
    <div class="ui segment">
    {{ partial "share.html" . }}
    </div>
    <div class="segment">
    {{ template "_internal/disqus.html" . }}
    </div>
  {{ end }}