{{ define "main" }}  
      <h2>{{ .Title }}</h2>
    <div class="ui stackable two column grid">
      <div class="column">
    <img src="{{ $.Site.BaseURL }}{{ .Params.imagemedium }}" class="ui left floated image rounded">
      {{ partial "artistmeta.html" . }}
      {{ .Content }}
      </div>
      <div class="column">
      {{ partial "artistpictures.html" . }}
      </div>
      
    </div>
    <div class="ui divider"></div>
    <div class="segment">
    {{ template "_internal/disqus.html" . }}
    </div>
  {{ end }}