{{ $artists := .Site.Data.artist }}
{{ $artworks := .Site.Data.artwork }}
{{ $artist := index $artists .Params.id }}
{{ $ := . }}
{{ with $artist.Pictures }}
<h3>Zugehörige Kunstwerke</h3>
<div class="ui list">
{{ range .  }}
{{ $pic := index $artworks . }}
{{ if eq $pic.Status "fertig" }}
<div class="item">

   <a href="{{ $.Site.BaseURL }}artwork/{{ $pic.ID }}/"class="ui image"><img src="{{ $.Site.BaseURL}}img/artwork/{{ $pic.ID }}/{{  $pic.ID }}_thumb.jpg"></a>
    <div class="middle aligned content">
      <a href="{{ $.Site.BaseURL }}artwork/{{ $pic.ID }}/" class="header">{{ $pic.YearIssued }}: {{ $pic.Title }}</a>
      <div class="description">{{ $pic.Topic }}<br><br>
        
      </div>
    </div>
 
  </div>
{{ end }}
{{ end }}
</div>
{{ end }}
