<div class="ui inverted vertical footer segment">
<div class="ui stackable four column grid container">
     <div class="column"></div>
     
  <div class="column">
      <h3>Weitere Informationen</h3>
      <div class="ui list">
        <div class="item"><a href="{{ .Site.BaseURL }}post/3">Impressum</a></div>
        <div class="item"><a href="http://stabi.hamburg">Stabi Hamburg</a></div>
        <div class="item"><a href="https://github.com/kupferstich">Kupferstich bei GitHub</a></div>
    </div>
  </div>
  <div class="column"></div>
  <div class="column"></div>
  
</div>
</div>
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>