<div class="card">
    
    <a href="{{ .Permalink }}" class="image">
      <img src="{{ $.Site.BaseURL }}{{ .Params.thumbnail }}" width="275" height="275">
    </a>
    
    <div class="content">
      <div class="header">{{ .Title }}</div>
      
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
    
  </div>