<div class="ui fluid card">   
    <a href="{{ .Permalink }}" class="image">
   
      <img src="{{ $.Site.BaseURL }}{{.Params.imagecard}}">
    </a>
    <div class="content">
      <!--<div class="header"></div>-->
     <a href="{{ .Permalink }}" class="header">{{ .Title }}</a>
      <div class="meta">
        <span class="date">{{ .Date.Format .Site.Params.datetimeformat }}</span>
      </div>
      <div class="description">
       
        {{ partial "artworkmeta.html" . }}
      </div>
    </div>
   
    
  </div>
