<div class="item column">
  <div class="ui segment">
  {{ $ := . }}
  {{ with  .Params.imagethumb }}
  
    <a class="ui rounded image" href="{{ $.Permalink }}">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
    </a>
  
  {{ end }}
  <div class="content">
      <a class="header" href="{{ .Permalink }}">{{ .Title }}</a>
      <div class="extra">
         <p>Veröffentlicht: {{ .Date.Format .Site.Params.datetimeformat }}</p>
      </div>
      <div class="description">
       
        <p>{{ .Description | markdownify }}</p>
        <p>{{ .Summary }} <a class="header" href="{{ .Permalink }}">mehr</a></p>
      </div>
      
    </div>
  </div>
</div>

