<div class="item column">
  <div class="ui segment">
  {{ $ := . }}
  
  <div class="content">
      <a class="ui big header" href="{{ $.Site.BaseURL }}{{ .Section }}"> {{ index .Site.Data.text .Section }} </a><br>
      <a class="ui large header" href="{{ .Permalink }}">{{ .Title }}</a>
      
      
      {{ with  .Params.imagecard }}
  <div class="extra">
    <a class="ui fluid rounded image" href="{{ $.Permalink }}">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
    </a>
    <br><br>
  </div>
  {{ end }}
      <div class="extra">
         <b>Veröffentlicht: {{ .Date.Format .Site.Params.datetimeformat }}</b>
      </div>
      <div class="description">
       
        <p>{{ .Description | markdownify }}</p>
        <p><a class="header" href="{{ .Permalink }}">mehr</a></p>
      </div>
      <div class="extra">
       
        {{ partial "tags.html" . }}
      </div>
      
    </div>
  </div>
</div>

